.note1 {
	padding-top: 60px;
}

.note1 #yeoman-img {
	position: relative;
	left: -10px;
	width: 350px;
}

.note1 #angular {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	width: 285px;
	top: -2px;
	position: relative;
	left: 10px;
}

h2.by-title {
	margin-top: 70px;
}

h2.author {
	position: relative;
}

div.authors {
	overflow: hidden;
	position: relative;
	width: 300px;
	margin: 0 auto;
	height: 150px;
	opacity: 1;
}

.author.left, .author.right {
	position: absolute;
	top: 0;
	margin: 0;
}

h2.author.left {
	left: 0;
	margin: 0;
}

h2.author.right {
	right: 0;
}

div.authors h2 span.name {
	display: block;
	height: 30px;
}

div.authors h2 span.handle {
	font-size: .8em;
	opacity: .8;
}


/* --- SLIDE 2 --- */
.slide2 h1 {
	margin-top: 100px;
	margin-bottom: 100px;
}

/* --- SLIDE 3 --- */
.slide3 h1 {
	margin-top: 75px;
}

.slide3 #yeoman-sit {
	width: 500px;
}

/* --- SLIDE 4 --- */
.slide4 #angular-big {
	width: 350px;
	margin: 60px 0 65px 0;
}

.slide4 h2 {
	font-style: italic;
	font-size: 2.5em;
}

.slide4 h3 {
	font-size: 1.75em;
	margin-top: 15px;
	color: black;
	opacity: .5;
}

/* --- SLIDE 4-1 --- */
.slide4-1 h1 {
	margin-top: 200px;
}

/* --- SLIDE 4-2 --- */
.slide4-2 .imgBig {
	margin-top: 130px;
}

/* --- SLIDE 5 --- */
.node5 h1 {
	margin: 25px 0 0 0;
}

.node5 ul {
	margin-top: 75px;
	font-size: 2.5em;
}

.node5 li {
	line-height: 2.5em;
}

#ng-img {
	margin: 80px 0 0 0;
	outline: 1px solid #e9a84d;
    border-top: 1px solid #fff;
    padding: 10px;
    background: #f4cf8c;
}

/* --- SLIDE 6 --- */
.node6 h1 {
	line-height: 1.6em;
}

.node6 h1.first {
	margin-top: 225px;
}

.node13 h1 {
	margin-top: 100px;
}

#thanks {
	margin-top: 65px;
}

/* --- SLIDE 7 --- */
.node7 h1 {
	margin-top: 50px;
	margin-bottom: 80px;
}

/* --- SLIDE 12 --- */
.slide12 h1 {
	margin-top: 65px;
	margin-bottom: 65px;
}

.slide12 pre code {
	overflow: auto;
	height: auto;
}
.slide12 .inline{
	display: inline-block;
}

.slide12 h3 {
	font-size: 2em;
}

h3.good {
	color: green;
}

.slide12 pre {
	margin: 0 15px;
}