<div class="slide">
	<h1>Basic setup AngularJS app with Yeoman</h1>
	<pre class="highlightjs">
		<code>
			Install Angular-generator
			# npm install -g generator-angular

			Make and go to project folder
			# mkdir myFirstApp
			# cd myFirstApp

			Setup a basic angular application
			# yo angular

			Answer Y/N to some questions about Twitter-bootstrap/SASS/resources...

			Run tests
			# grunt test

			Preview application 
			# grunt server

			Build app
			# grunt build
		</code>
		</pre>
</div>