<div class="slide note1">
	<img id="yeoman-img" src="img/yeoman-singl.png" />
	<img id="angular" src="img/angularjs.png" />
	<h1>Using Yeoman with AngularJS</h1>

	<h2 class="by-title">By</h2>
	<div class="authors">
	  	<h2 class="author left">
	  		<span class="name">Niels Dequeker</span>
	  		<span class="handle">@ndequeker</span>
	  	</h2>
	  	<h2 class="author right">
	  		<span class="name">Thijs D'hulster</span>
	  		<span class="handle">@tdhulster</span>
	  	</h2>
	</div>

	<!--
	<a class="btn btn-large" href="https://github.com/tdhulster/js-mvc-presentation">
      <i class="icon-github-sign"></i> Go grab source at github.com/tdhulster
    </a>
	-->
   
</div>